#
.cache
.dotnet
.local
.vscode-server
.ssh
.bash_history
.bashrc
.python_history
.conda
tool
key

.profile
.viminfo
.wget-hsts
# 
dataset
#
best_model/*.bin

#
code/.*
code/__pycache__
**/optimizer.pt
**/pytorch_model.bin