#
.cache
.dotnet
.local
.vscode-server
.ssh
.bash_history
.bashrc
.python_history
.conda
tool

.profile
.viminfo
.wget-hsts
# 
dataset

#
code/.*
code/__pycache__
code/results/*/optimizer.pt
code/results/*/pytorch_model.bin