#
.cache
.dotnet
.local
.vscode-server
.ssh
.bash_history
.bashrc
.python_history
.conda
tool

.profile
.viminfo
.wget-hsts
# 
dataset
#
best_model/*.bin

#
code/.*
code/__pycache__
**/optimizer.pt
**/pytorch_model.bin
code/checkpoints/*
code/wandb/*
code/lightning_logs/*
code/results/*
code/*.lock
code/*.toml
code/prediction/submission.csv